.sodrzina-popup-content {
    width: 80% !important;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.referenca-popup-content {
    width: 80% !important;
    height: 90%;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
}

.sodrzina-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}

.sodrzina {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sodrzina-list {
    height: calc(100% - 52px);
    overflow-y: scroll;
    display: block;
}

.sodrzina-popup-content .sodrzina-list {
    height: calc(90% - 47px);
}

.sodrzina-link {
    padding: 10px 32px;
    width: 210px;
    display: flex;
}

.sodrzina-button {
    all: unset;
    background-color: transparent;
    width: 100%;
    border: none;
    color: gray;
    padding: 12px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px gray solid;
}

.sodrzina-naslov {
    margin: 6px 32px;
    padding: 6px 8px;
    display: block;
    font-size: 21px;
    font-weight: bolder;
    color: grey;
}

.sodrzina-button:hover {
    background-color: #4cc9f0;
    color: white;
    padding: 12px 8px;
    border-bottom: 2px transparent solid;
}

.sodrzina-aktivna {
    background-color: #b9e769;
    color: white;
    padding: 12px 8px;
    border-bottom: 2px transparent solid;
}

.meni {
    background-color: white;
    width: 100%;
    text-align: left;
    border-bottom: 1px grey solid;
    position: fixed;
    top: 0;
    margin-bottom: 4px;
    box-shadow: 0 4px 2px -1px #8080808f;
    z-index: 999;
}

.meni-item {
    display: inline-block;
}

.meni-meta {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 500;
}

.voved {
    margin-top: 75px;
    display: block;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    padding-bottom: 30px;
    border-bottom: 1px lightgrey solid;
}

.voved-naslov {
    text-align: center;
}

h4.voved-naslov {
    margin-bottom: 10px;
}

.voved-linija {
    text-indent: 2cm;
    display: inline-block;
}

.glava {
    width: 80%;
    margin: 0 10%;
    text-align: justify;
    padding: 10px 0;
    align-items: stretch;
    display: flex;
}

.glava-broj {
    font-weight: 700;
    font-size: x-large;
    padding: 0 5px 0 0;
}

.stih-broj {
    font-weight: 300;
    font-size: medium;
    padding: 0 5px 0 0;
    vertical-align: super;
}

.podnaslovi {
    font-weight: 700;
    font-size: large;
    text-align: center;
}

.glava-tekst {
    display: inline-block;
    width: 67%;
    position: relative;
    padding-right: 14px;
    border-right: 1px lightgrey solid;
}

.glava-referenci {
    width: 33%;
    display: inline-block;
    position: relative;
    padding-left: 14px;
}

.stih-referenci {
    text-align: left;
}

.stih-referenca {
    font-weight: 700;
    font-size: small;
    vertical-align: super;
    padding-right: 5px;
}

.referenca {
    all: unset;
    font-size: small;
    display: inline-block;
    margin-right: 7px;
    border-bottom: 1px gainsboro solid;
    cursor: pointer;
    padding-bottom: 1px;
}

.referenca:hover {
    margin-right: 7px;
    border-bottom: 2px goldenrod solid;
    padding-bottom: 0;
    color: goldenrod;
}

.futnota-broj {
    all: unset;
    text-decoration: underline;
    font-size: small;
    padding: 0 1px;
    vertical-align: super;
    font-weight: 700;
    color: lightblue;
    cursor: pointer;
}

.referenca-popup-content {
    padding: 0 !important;
}

.ref-popup {
    width: 100%;
    height: 100%;
}

.ref-popup-levo {
    width: 25%;
    display: inline-block;
    border-right: 2px grey solid;
    box-shadow: 5px 0 5px grey;
    height: 100%;
    text-align: right;
    position: absolute;
    top: 0;
}

.ref-popup-desno {
    width: 75%;
    display: inline-block;
    position: absolute;
    left: 25%;
    top: 0;
    overflow-y: scroll;
    height: 100%;
}

.ref-popup-kniga {
    font-size: large;
    font-weight: 700;
    margin-bottom: 14px;
    color: grey;
}

.ref-popup-stih {
    display: inline-block;
    padding: 10px 5px 10px 15px;
    text-align: justify;
    border-bottom: 2px grey solid;
}

.ref-popup-refs {
    padding: 10px 15px 10px 0;
    display: inline-block;
}

.ref-popup-ref {
    display: inline-block;
    margin-right: 7px;
    border-bottom: 1px gainsboro solid;
    cursor: pointer;
    margin-bottom: 7px;
}

.ref-popup-aktivno {
    font-weight: bold;
    border-bottom: 2px gainsboro solid;
    color: grey;
}

.ref-popup-ref:hover {
    margin-right: 7px;
    border-bottom: 2px gainsboro solid;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
